<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/arch/index.css">
	<link rel="stylesheet" href="/arch/styles-responsive.css">

	<title>JuegoMania</title>
</head>
<body>
	<div class="nav">
		<img src="/arch/bars.png" alt="bars" id="barMenu">
	</div>
	<nav class="navbar-fixed-top navbar">
		<ul class="nave">
			<li id="1"><a href="#header">Inicio</a></li>
			<li id="2"><a href="#news">Noticias</a></li>
			<li id="3"><a href="#testimonials">Testimonios</a></li>
			<li id="4"><a href="#team">Equipo</a></li>
			<li id="5"><a href="#about">Acerca de</a></li>
			<li id="6"><a href="#story">Historia</a></li>

		</ul>
	</nav>

	<header id="header">

		<div id="inicio">
			<h1>JuegoMania</h1>
			<br>
			<br>
			<p>JuegoMania es una compañia dedicada a la creacion de juegos con contenido apto para todo publico <br> 
			, ademas creamos productos en donde puedes porbar tu capacidad metal e incluso mejorarla.  <br>
			Descarga la ultima version de Exilium, ya esta disponible!
			<br><br>
			</p>
			<a href="https://docs.google.com/uc?export=download&id=0B61mTeA7zLFeSXRTby1rRjRHd0U"><button class="button">Descargar Exilum v2</button></a>
		</div>
	</header>
	<div id="news"></div>
	<div class="news" >
		<h2 class="titulos">Noticias</h2>
		<br>
		<br>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img src="/arch/foto1.png" class ="imagenc" alt="Chania">
		      <div class="carousel-caption">
		        <h3>Exilum version 2.5 </h3>
		        <p>Ya esta disponible puedes descargarlo.</p>
		      </div>
		    </div>

		    <div class="item">
		      <img src="/arch/foto2.png" class="imagenc" alt="Chania">
		      <div class="carousel-caption">
		        <h3>version 2.0</h3>
		        <p>Motor grafico implementado para mejorar la rapidez del juego.</p>
		      </div>
		    </div>

		    <div class="item">
		      <img src="/arch/portada.png" class="imagenc"  alt="Flower">
		      <div class="carousel-caption">
		        <h3>Quieres un juego </h3>
		        <p>!Que estas esperando descarga exilum!</p>
		      </div>
		    </div>
		  </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Anterior</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Siguiente</span>
		  </a>
		</div>
	</div>
	<div id="testimonials"></div>
	<hr >
	<div class="container-fluid"  >
		<div  class="row">
			<h2 class="titulos">Testimonios</h2>
			<br>
			<br>
			<div class="elem-testimonio col-sm-4 col-md-4"  >
				<p> Es un juego ecxelente, lo descargue para que mi hijo lo utilizara y fue muy efectivo 
				para el ya que se divirtio pero a la vez le dio conocimiento referente a las islas </p>
				<br>
				<h3>Jennifer Ruman</h3>
				<img src="/imagenes/sesi.jpg" class="img-thumbnail" width="150px" height="100px">
			</div>
			<div class="elem-testimonio col-sm-4 col-md-4"  >
				<p>Al entrar me parecio muy divertido por los colores llamativos y su nombre, de la forma
				 en la que funcionaba hacia que yo quisiera jugar mas para llegar a maximo puntaje es genial. .</p>
				<br>
				<h3>Katie Alejo</h3>
				<img src="/imagenes/k.jpg" class="img-thumbnail" width="150px" height="100px">
			</div>
			<div class="elem-testimonio col-sm-4 col-md-4"  >
				<p>Me parece que la empresa si todos sus sofware son con la misma calidad llegara muy lejos porque es espectacular y su funcionamiento es veridico ya que mis niños ños han estados utilizados , y se concentran mas en la escuela ya que el sofware los esta ayudando a mejorra su concentracin..</p>
				<br>
				<h3>Isabela Martinez</h3>
				<img src="/imagenes/g1.jpg" class="img-thumbnail" width="150px" height="100px">
			</div>
			
		</div>
	</div>
	<div id="team"></div>
	<hr>
	<div>
		<h2 class="titulos">Equipo</h2>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-sm-3 team">
					<img src="/imagenes/w.jpg" class="img-circle" width="250px" height="200px">
					<h3>Wildin Mota</h3>
					<h5>Desarrollador</h5>
				</div>
				<div class="col-sm-3 team">
					<img src="/imagenes/r.jpg" class="img-circle" width="250px" height="200px">
					<h3>Rosanny Garcia</h3>
					<h5> diseñadora de interfaz</h5>
				</div>
				<div class="col-sm-3 team">
					<img src="/imagenes/e.jpg" class="img-circle" width="250px" height="200px">
					<h3>emilianny Tejada</h3>
					<h5>sonidista y diseñadora grafico</h5>
				</div>
				<div class="col-sm-3 team">
					<img src="/imagenes/m.jpg" class="img-circle" width="250px" height="200px">
					<h3>maxwell zabala</h3>
					<h5>diseñador grafico</h5>
				</div>
			</div>
		</div>
	</div>
	<div id="about"></div>
	<hr>
	<div class="container">
		<h2 class="titulos">Acerca de</h2>
			<br>
			<br>
		<div class="row">
			<div class="col-md-4">
		        <h3>vision</h3>
		        <p>Obtener el liderazgo mundial en la elaboración y recreación de juegos virtuales.</p></div>
			<div class="col-md-4">
		        <h3>Mision </h3>
		        <p>Poner total empeño y dedicación a la creación de cada software, brindando innovación y calidad 
		        a cada cliente.</p></div>
			<div class="col-md-4">
				<h3>Valores</h3>
				<ul>
					<li>Compromiso</li>
					<li>Respeto</li>
					<li>Compañerismo</li>
				</ul>
			</div>

		</div>
	</div>
	<div id="story" class="container">
	<h2 class="titulos">Historia</h2>
		<div class="row">
			<div class="col-md-6">
				<img src="/imagenes/1.png" class="imagenHistoria" alt="">
				<h3>1ra fase ventana de Exilum, sin funcionalidad :)</h3>
			</div>
			<div class="col-md-6">
				<img src="/imagenes/2.png" class="imagenHistoria" alt="">
				<h3>Creando encuentra al intruso</h3>
			</div>

		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="/imagenes/4.png" class="imagenHistoria" alt="">
				<h3>Primer logo</h3>
			</div>
			<div class="col-md-6">
				<img src="/imagenes/3.png" class="imagenHistoria" alt="">
				<h3>2da fase ventana de Exilum</h3>
			</div>
		</div>	
	</div>

	<footer>
		<p>Pagina de JuegoMania</p>
	</footer>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.4.0/jquery.localScroll.min.js"></script>
  <script src="/arch/jquery.waypoints.min.js"></script>

  <script type="text/javascript">
  	var width;
  	$(".nave").localScroll();

  	width=window.innerWidth || document.body.clientWidth;;

	$(window).resize(function(){
	   width = window.innerWidth || document.body.clientWidth;

	  	if(width>700){
			var button = $(".button");

		  	$("#inicio").waypoint(function(){
		  		$(".nave").css("background-color","transparent")
		  	})

		  	button.waypoint(function(){
		  		$(".nave").css("background-color","#DB2202")
		  	})

		  	$(".nave").css("display","block")
	  	} else{
	  		$(".nave").css("background-color","#DB2202")
	  		$(".nave").css("display","none")
	  	}
	  	 	console.log(width)
    });

    $(window).scroll(function(){
	  	if(width>700){
			var button = $(".button");

		  	$("#inicio").waypoint(function(){
		  		$(".nave").css("background-color","transparent")
		  	})

		  	button.waypoint(function(){
		  		$(".nave").css("background-color","#DB2202")
		  	})

		  	$(".nave").css("display","block")

	  	} else{
	  		$(".nave").css("background-color","#DB2202")
	  		
	  	}
	  	console.log(width)		
	});


  	function ocultar(n){
  		
  		for(var i = 1;i<=6;i++){

  			if(i!=n){
  				$("#"+i).css("background-color","transparent")
  			} else{
  				$("#"+i).css("background-color","yellow")
  			}

  		}
  	}
  

  	$("#barMenu").click(function(){
  		$(".nave").slideToggle();
  	})

  	var next = document.getElementById('next');
  	var previus = document.getElementById('pre');
  	var index= 1;
  //	next.addEventListener('çlick',)
  	function next(){
  		console.log("Work")
  		var imagen = document.getElementById('imagenHistoria');
  		imagen.src = "/imagenes/"+index+".png";
  		index++;
  	}

  	// $("#inicio").waypoint(function(){
  	// 	ocultar("1")
  	// })

  	// $("#news").waypoint(function(){
  	// 	ocultar("2");
  	// })

  	// $("#testimonials").waypoint(function(){
  	// 	ocultar("3")
  	// })

  	// $("#team").waypoint(function(){
  	// 	ocultar("4")
  	// })

  	// $("#about").waypoint(function(){
  	// 	ocultar("5")
  	// })

  	// $("#contact-us").waypoint(function(){
  	// 	ocultar("6")
  	// })
  </script>
</body>
</html>